a{
	color:#007bff !important
}

a:hover{
	text-decoration:underline !important
}

html,body{
	overflow:hidden !important;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    /* position:fixed !important; */
}

.navWrapper{
	position:fixed;
	width:100%;
}